.dashboard_users {
    margin-top: 3rem;
    form {
        margin-bottom: 2rem;
        // border: solid black 2px;
        .field_input {
            margin-top: 1.4rem;
        }
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 25px;
        .form_button {
            margin-top: 2rem;
            display: flex;
            justify-content: end;
        }
    }
}