.introductionSubscriptionAction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    text-align: center;
    h2 {
        font-weight: 700;
        margin-bottom: 2.5rem;
    }
    p {
        font-weight: 700;
        font-size: 1.34rem;
        margin-bottom: 2.5rem;
    }
    a {
        text-decoration: none;
        color: inherit;
        width: inherit;
        button {
            background-color: $yellowCustom;
            font-weight: 700;
            font-size: 1.3rem;
            width: 12rem;
            border-radius: 0;
            border: 0;
            padding: 0.1rem;
        }
    }
}

//edit 
.stepOneEditSubscription {
    .buttons-group-custom {
        display: flex;
        justify-content: center;
        text-align: center;
        a {
            margin-right: 1.5rem;
            margin-left: 1.5rem;
        }
    }
}