.custom-header img {
    height: 1.5rem;
    width: auto;
}

.custom-header .special-navlink {
    margin-left: -0.9rem;
}

@media screen and (max-width: 768px) {
    .custom-header .special-navlink {
        margin-left: 0rem;
    }
    .custom-header .special-login {
        justify-content: center;
    }
}