.section-one {
    margin-bottom: 5rem;
}

.section-one .cs-title img {
    width: 12rem;
    height: auto;
}

.section-one a {
    text-decoration: none;
    color: inherit;
}

.section-one button {
    background-color: $grayCustom;
    width: 13rem;
    font-size: 1.4rem;
    padding: 0;
    color: white;
}

.section-one button:hover {
    background-color: white;
    color: $grayCustom;
    border-color: $grayCustom;
}

//normal queries
@media screen and (max-width: 576px) {
    .section-one {
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .section-one .cs-title {
        margin-right: 2.5rem;
    }
}

//special media queries
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    .section-one .cs-title {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .section-one .cs-title {
        width: -webkit-fill-available;
    }
}